<!DOCTYPE html>
<html>
  <head>
    
    <title>Booker2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel=stylesheet>
    
  </head>

  <body>
    
    <% if user_signed_in? %>
    
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="/">
              <span>Bookers</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li>
                  <a class="fas fa-home nav-link text-light" href="/"> Home</a>
                </li>
                <li>
                  <a class="fas fa-link nav-link text-light" href="/home/about"> About</a>
                </li>
                <li>
                  <a class="fas fa-user-plus nav-link text-light" href="/users/sign_up"> sign up</a>
                </li>
                <li>
                  <a class="fas fa-sign-in-alt nav-link text-light" href="/users/sign_in"> login</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      
      <main>
        <p id="notice"></p>
        <div class="container">
          <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
              <h1>
                welcome to 
                <i class="fas fa-book"></i><strong>Bookers</strong>
                !!
              </h1>
              <p>
                In 
                <i class="fa fa-book"></i><strong>Bookers</strong>
                ,
              </p>
              <p>you can share and exchange your opinions , inpressions , and emotions</p>
              <p> about various books!</p>
              <div class="btn-wrapper col-10 mx-auto">
                <div class="row">
                  <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
                </div>
                <div class="row">
                  <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      
      <footer>
        <div class="container mt-5">
          <div class="row">
            <div class="mx-auto">
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
        </div>
      </footer>
      
    <% else %>
      <li>
        <%= link_to "新規投稿", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    
    <%= yield %>
  </body>
</html>
